.draker__item {
    transition: 0.3s ease-in-out;
    &:hover .button__action {
        bottom: 0;
    }

    &:hover {
        transform: translateY(-5px);
        border: 1px solid rgba(255, 255, 255, 0.598);
    }
    .button__action:hover {
        // button::before {
        //     width: 100%;
        //     height: 100%;
        // }
        button {
            background-color: #9b9b9b;
        }
    }
//     .button__action button::before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 0;
//         height: 100%;
//         background-image: url("../../../assets/images/btn-bg.png");
//         background-size: cover;
//         background-position: center;
//         transform-origin: left;
//         transition: 0.5s ease-in-out;
//     }
}
