.news__item__reverse {
  flex-direction: row-reverse !important;
}

.news__content {
  height: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news__title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
