.modal__hidden {
    display: none !important;
}

.MuiTooltip-tooltip {
    background-color: inherit !important;
}

.part__active {
    background-color: rgb(134, 134, 134) !important;
}

.modal__order::before {
    content: "";
    position: absolute;
    top: -20%;
    width: 350px;
    height: 150%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: borderAnimation 4s linear infinite;
}

.modal__order::after {
    content: "";
    position: absolute;
    inset: 4px;
    background-color: #0e1538;
}

@keyframes borderAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
